*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;/** we have 3 rows*/
}
img{
    width: 55px;
    height: 55px;
}

/** header-column*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: 2px solid gray;
    align-items: center;
}

/** question-column*/
main{
    display: grid;
    grid-template-columns: 35% 35% 30%;  /** here we know have to create 3 columns so no need to use repeat*/
}

#question-cont{
    padding-left: 1rem;
    border-right: 3px solid gray;
    padding-top: 0.2rem;
}
#question-cont >h2{
    margin-top: 1rem;
    margin-left: 1rem;
}

#actual-question{
    padding-left: 2rem;
}

/** options-column*/
#option-cont{
    padding: 0.2rem 1rem;

}

#btn-cont{
    padding: 0.2rem 1rem;
    background-color: rgb(214, 214, 63);

}

#legends{
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(2,45%); /** here we use repeat cuz multiple legend rows*/
}
#legends >h3{
    margin-top: 1rem;
}

#legends >h3>span{
    margin-right: 0.5rem;
}

footer{
    display: grid;
    grid-template-columns: 80% 20%;
    border-top: 2px solid gray;
    padding: 0.5rem 1rem;
}

footer button{
    padding: 1rem;
    border: none;
    background-color: orange;
    color: white;
    margin-right: 0.5rem;
    border-radius: 5px;

}
footer button:active{
    background-color: black;
}
#actual-btn{
    display: grid;
    grid-template-columns: repeat(4,22%);
    gap: 1rem;
}
#actual-btn >button{
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: white;
    border-radius: 5px;
}
#actual-btn >button:active{
    background-color: lightseagreen;
}
#actual-option{
    display: grid;
    grid-template-columns: repeat(2,20%); /** here we have to handle multiple rows so we used repeat*/
    gap: 1rem;
    margin-top: 1rem;
    /* align-items: center; */
}
#actual-option >input{
    height: 1rem;
}



